@charset "UTF-8";
*{padding:0;margin:0}
#itemlist{
   
   text-align: left;
   text-align-last: left; 
   position: relative;
}
.box{
   display: inline-block;
   height: 400px;
   
} 
.card{
   border: 0px;
   width: 255.39px;
   margin-left: 5px;
   margin-right: 5px;
}


.card-text{
	margin-bottom : 0px;
	overflow : hidden;
	white-space: nowrap;
	text-overflow : ellipsis;
	height: 24px;
	font-size: 13px;
	font-weight: bold;
}
.iDchidden{
   display: none;
}

.iDc{
   font-size: 15px;
   color : red;
}

.iPricehidden{
   display: none;
   
}
.iPrice{
   display: flex;
   justify-content: flex-end;
   height: 22.5px;
}

.card-img-top{
   width: auto;
}
.card-body{
   width: auto;
   padding: 20px;
}
.draggable{
   width: 1090px;
   margin-left : 50px;
   margin-right : 50px;
   text-align: center;
   
}
.slick-prev{
   position : absolute;
   top: 50%;
   font-size: 50px;
   right : 100%;
   transform:translate(+100%, -75%);
   border: 0px;
   background-color: white;
}
.slick-next{
   position : absolute;
   left: 100%;
   bottom: 50%;
   font-size: 50px;
   transform:translate(-100%, +25%);
   border: 0px;
   background-color: white;
}




