@charset "UTF-8";
*{padding:0;margin:0}

li{list-style:none}

.menu {
  overflow: hidden;
}
.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;
}

.menu a {
  color: #fff;
  width: 100%;
}

#itemlist{
	margin-top : 10px;
	width : 1190px;
	text-align: left;
	text-align-last: left; 
	
}
.box{
	display: inline-block;
	width: 290px;
} 
.card{
	display:inline-block;
	margin : 20px;
	border: 0px;
}
.flexitem{
	display: flex;
	width:1190px;
	justify-content: flex-end;
	
	
}
.red{
	color: red;
}
.itemcss{
	color: red;
}
.card-text{
	display: flex;
	justify-content: space-between;
}
.iDchidden{
	display: none;
}
.iDc{
   font-size: 15px;
   color : red;
   background-color: white;
   
}
.iName{
	font-size: 30px;
}
.iPrice{
	color : gray;
	text-decoration: line-through;
	display: flex;
	justify-content: space-between;
}