@charset "UTF-8";
*{padding:0;margin:0}
body{
   width : 100%;
}
li{list-style:none}
a{text-decoration:none;font-size:14px}

.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 40px;
  background-color: #5778ff;
}

.menu a {
  color: #fff;
  width: 100%;
}
#itemlist{
   
   text-align: left;
   text-align-last: left; 
   position: relative;
}
.box{
   display: inline-block;
   
} 
.card{
   border: 0px;
   width: auto;
   margin-left: 5px;
   margin-right: 5px;
}
.flexitem{
	display: flex;
	width:1312px;
	justify-content: space-between;
	margin-left: 304px;
	margin-right: 210px;
}
.card-text{
	display: flex;
	justify-content: space-between;
}
.iDchidden{
	display: none;
}
.iDc{
	font-size: 20px;
	
	border: 0.5px solid black;
	background-color: gray;
	
}
.iName{
	font-size: 30px;
}
.iPricehidden{
	display: none;
}
.iPrice{
	color : gray;
	text-decoration: line-through;
}

.card-img-top{
	width: auto;
}
.card-body{
	width: auto;
}
.draggable{
	width: 80%;
	margin : auto;
	text-align: center;
	
}
.slick-prev{
	position : absolute;
	top: 50%;
	font-size: 50px;
	right : 100%;
	transform:translate(+300%, -75%);
	border: 0px;
	background-color: white;
}
.slick-next{
	position : absolute;
	left: 100%;
	bottom: 50%;
	font-size: 50px;
	transform:translate(-300%, +25%);
	border: 0px;
	background-color: white;
}









