@charset "UTF-8";
.itemread{
   display : flex;
  
   height : 500px;
}
.itemreadphoto{
   width: 595px;
  
   height: 400px;
   text-align : center;
}
.itemreadinfo{
   width : 595px;
   margin-left : 20px;
   height: 500px;   
}
#subphoto{
   margin-top : 10px;
   margin-left : 47.5px;
   margin-right : 47.5px;
   
   text-align: right;
   position: relative;   
}
.slick-next{
	position : absolute;
	top: 50px;
	font-size: 30px;
	 transform:translate(+10%, -50%);
	 border : 0px;
	 background-color: white;
	
}
.slick-prev{
	position : absolute;
	right: 500px;
	bottom: 50px;
	font-size: 30px;
	transform:translate(-10%, +50%);
	border : 0px;
	background-color: white;
	
}
