@charset "UTF-8";
*{padding:0;margin:0}
body{
   width : 1190px;
}

#btn_1{
      border-top-left-radius:5px;
      border-bottom-left-radius:5px;
      margin-right: 5px;
      margin-left:3px;
   }
   
#btn_2{
      margin-left: 4.7px;
      margin-right: 4px;
   
}

caption {
   padding-bottom: 30px;
}

.red{
   color : red;
}
#btn_group{
   display:flex;
   justify-content:center;
   align-items:center;
}

#btn_group button{
   font-weight: bold; 
   border-top-left-radius:5px;
   border-bottom-left-radius:5px;
   border-top-left-radius:5px;
   margin-right: -4px;
   height: 100px;
   width: 150px;
   font-size : 20px;
   
}
.textchange{
   padding-top: 20px;
   margin-top: 50%;
   display:flex;
   justify-content:center;
   align-items:center;
}

.text-center{
   font-size:40px;
}
.searchcsss{
   align-items: center;
   margin-left: 35%;
   margin-right: 40%;
   width:30%;
}

.pagecss{
   display:flex;
   justify-content:center;
   align-items:center;
   
}


.table td{
   padding: 10px 5px;
   border : 1px solid #e9ebf0;
}
.table thead{
   background-color: #f8f9fd;   
   font-weight: 600;
}
.table{
   margin: auto;
    width : 1190px;
    border: 1px solid #d3d8e1;
    text-align: center;
    border-collapse: collapse;
    margin-top: 10px;
}

.table_empty{
   height: 50px;
    text-align: center;
    margin: 200px 0 215px 0px;
    font-size: 25px;
}

.jumbotron{
   background-size: 80em;
   
}
.textchange{
   display: flex;
     flex-direction: row;
     align-items: center
    
}
