<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.dw.member">

	<select id="idCheck" resultType="int">
	select count(*)
		from tbl_member
	where mid=#{mid}
	</select>
	
	<select id="login" resultType="MemberDTO">
		SELECT * FROM tbl_member WHERE mid= #{mid} AND mpw = #{mpw}
	</select>

	<delete id="delete">
		DELETE FROM tbl_member WHERE mid = #{mid} AND mpw = #{mpw}


	</delete>

	<update id="update">
		UPDATE tbl_member
		SET mname = #{mname}, memail = #{memail}, mphone=#{mphone}, maddress1 = #{maddress1}, maddress2 = #{maddress2}, maddress3 = #{maddress3}, mbirth = #{mbirth}, mmoney = #{mmoney}
		WHERE mid = #{mid} AND mpw = #{mpw}
	</update>

	<select id="updateUI" resultType="kr.co.dw.domain.MemberDTO">
		SELECT * FROM tbl_member WHERE mid = #{mid}

	</select>
	<select id="mypage" resultType="kr.co.dw.domain.MemberDTO">
		SELECT * FROM tbl_member WHERE mid = #{mid}

	</select>

	<select id="list" resultType="kr.co.dw.domain.MemberDTO">
		SELECT * FROM tbl_member
	</select>

	<insert id="insert">
		INSERT INTO tbl_member
		(mid, mpw, mname, memail, mphone, maddress1, maddress2, maddress3, mbirth)
		VALUES
		(#{mid}, #{mpw}, #{mname}, #{memail}, #{mphone}, #{maddress1}, #{maddress2}, #{maddress3}, #{mbirth})


	</insert>
</mapper>